<div class="comment">
  <div class="title">
    <%= time_ago_in_words(comment.created_at) %> - <%= comment.first_name %> (<%= comment.score %> / 5)
  </div>
  <div class="description">
    <%= comment.description %>
  </div>
</div>
