<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Books Open Database</h1>
    <p class="lead"><%= t("home.index.welcome") %></p>
  </div>
</div>

<%= link_to image_tag("flag_en.png", alt: "EN", class: "locale-flag"), url_for(only_path: true, locale: "en") %>
<%= link_to image_tag("flag_fr.png", alt: "FR", class: "locale-flag"), url_for(only_path: true, locale: "fr") %>
<%= link_to "Books", books_path %>
