$body-bg: #F8F8F8;
@import "bootstrap-custom";
@import "**/*";

.field_with_errors {
  color: red;
}

.notice {
  color: green;
  font-style: italic;
}

.alert {
  color: orange;
  font-style: italic;
}
